.contCardProducto{
    
    .CardProducto{
        padding: 10px;
        
        .imgCardProducto{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }
}