.contCartDetalles{
    padding: 20px;
    
    .CartDetalles{
        padding: 10px;

        .imgCartDetalle{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }
}