.contCartButton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    .CartButton{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .countCart{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}