.contCardProducto{

    .CardProducto{
        width: 220px;
        color: black;
        text-align: center;
        border-radius: 5px;
        .Card{
            background-color: rgba(221, 221, 221, 0.292);
            .CardHeader{
                display: flex;
                flex-wrap: nowrap;
                gap: 10px;
                justify-content: end;
            }
            .imgCardProducto{
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
            .areaCardProducto{
                width: 100%;
                height: 60px;
                padding: 5px;
                resize: none;
                border: none;
                font-size: .8rem;
                border-radius: 5px;
            }
        }
    }
}