.contCartButton{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .CartButton{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}