.contCardProducto{

    .CardProducto{
        color: black;
        text-align: center;
        border-radius: 5px;
        .Card{
            background-color: rgba(221, 221, 221, 0.292);
            .imgCardProducto{
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
        }
    }
}