.contCheckout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    .checkout{   
        max-width: 300px;
    }
}
