.contFooter{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    .FooterInfo{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }    
}