*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Styles Boostrap */
@import "~bootstrap/scss/bootstrap";
/* Sweet Alert Css */
//@import "sweetalert/dist/sweetalert.css";

/* Components Styles */
@import "../styles/_components/Header";
@import "../styles/_components/NavBar";
@import "../styles/_components/Footer";
@import "../styles/_components/CartButton";
@import "../styles/_components/CrudProductos";
@import "../styles/_components/Checkout";

/* Pages Styleds */
@import "../styles/_pages/MainLayout";
@import "../styles/_pages/Home";
@import "../styles/_pages/Loader";
@import "../styles/_pages/Cart";
@import "../styles/_pages/Categorias";
@import "../styles/_pages/Productos";
@import "../styles/_pages/ProductoDetalle";
@import "../styles/_pages/NotFound";
