.contCart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    gap: 20px;
    .Cart{
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .CheckoutButtonTotal{
        text-align: center;
    }
}