.contCart{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: auto;

    justify-content: center;
    align-items: flex-start;
    .Cart{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }
    .CheckoutButtonTotal{
        text-align: center;
    }
}