.contCategorias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
    .Categorias{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px;
    }
}