.contProductoDetalle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    .ProductoDetalle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        gap: 20px;
    }
}