.contProductoDetalle{
    display: flex;
    justify-content: center;
    .ProductoDetalle{
        display: flex;

        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;   
    }
}